<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pockettrainer"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-feature android:name="android.hardware.gyroscope"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens android:anyDensity="true" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/MainTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:largeHeap="true"
            android:value="AIzaSyAc5FaVz5uy3Hd8_Zp4L53hoH6gwkDikEo" />

        <activity
            android:name="com.pockettrainer.SplashScreenActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:logo="@drawable/ic_bar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pockettrainer.WelcomeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_welcome"
            android:logo="@drawable/ic_bar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pockettrainer.SelectEnvironmentActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_select_environment"
            android:logo="@drawable/ic_bar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pockettrainer.PetIdentityActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_pet_identity"
            android:logo="@drawable/ic_bar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pockettrainer.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:logo="@drawable/ic_bar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pockettrainer.MainDashboard"
            android:configChanges="orientation"
            android:label="@string/dashboard"
            android:logo="@drawable/ic_bar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pockettrainer.TrainingResultActivity"
            android:configChanges="orientation"
            android:label="@string/training_result"
            android:logo="@drawable/ic_bar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pockettrainer.TrainingActivity"
            android:configChanges="orientation"
            android:label="@string/train"
            android:launchMode="singleTop"
            android:logo="@drawable/ic_bar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pockettrainer.EvolutionActivity"
            android:configChanges="orientation"
            android:label="@string/train"
            android:logo="@drawable/ic_bar"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.pockettrainer.helper.MyService"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.pockettrainer.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>